<p>Hello from myproducer.io!</p>

<p>You have received a new message from <%= locals.sender %></p>

<p>"<%= locals.message %>"</p>

<a href="<%= locals.offerURL %>"><button>Respond on myproducer.io</button></a>
