<p>Hi <%= locals.recipient %>,</p>

<p>You have received a new message from <%= locals.sender %> at myproducer.io</p>

<p>"<%= locals.message %>"</p>

<a href="<%= locals.offerURL %>"><button>Respond on myproducer.io</button></a>
