<!doctype html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>myproducer.io</title>
  <!-- styles -->
  <link rel="stylesheet" href="./css/bootstrap.min.css" media="screen" title="no title">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/styles.css" media="screen" title="no title">

  <!-- scripts -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
  <script data-require="ui-bootstrap@0.5.0" data-semver="0.5.0" src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
  <script src="./js/application.min.js" charset="utf-8"></script>
  <script src="https://js.stripe.com/v3/"></script>

  <!-- PDFObject -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.0.201604172/pdfobject.min.js" charset="utf-8"></script>

  <!-- Google Places API -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4SHG7GpTSgXjncIJaoLUDNwKxd4hxtLk&libraries=places"></script>

  <!-- mixpanel -->
  <!-- start Mixpanel -->
  <script src="./js/mixpanel-config.js"></script>
  <script src="./js/angular-mixpanel.js"></script>
  <!-- end Mixpanel -->

  <!-- papa parse for csv files -->
  <script src="./PapaParse-4.3.2/papaparse.min.js"></script>

  <script src="./ngImgCrop-master/compile/unminified/ng-img-crop.js"></script>
  <link rel="stylesheet" type="text/css" href="./ngImgCrop-master/source/scss/ng-img-crop.scss">

</head>
<body class="bottom-padding">
  <div class="container-fluid" ng-controller="mainController as main">
    <!-- TODO ng-show="main.currentUser.username" -->
    <div  class="navbar" ng-if=isLoggedIn>
      <div class="navleft logo">
        <a ui-sref="profile">
          <img ng-src="./img/mpio-logo.png" alt="">
        </a>
      </div>
      <div id="navbar-center" class="navigation-tabs">
        <p class="no-margin">
          <a ng-class="{active: activeTab.profile}" ui-sref="profile">PROFILE</a>
          <a ng-if="main.currentUser.role === 'producer'" ng-class="{active: activeTab.crewList}" ui-sref="crew-list">CONTACTS</a>
          <a ng-class="{active: activeTab.production}" ui-sref="production-list">PRODUCTIONS</a></p>
      </div>
      <div class="navright text-right">
        <div class="nav-currentuser">
          <div class="col-sm-8"></div>
          <div id="navbar-right" class="col-sm-4 no-padding">
            <div class="col-sm-11 no-padding">
              <p class="no-margin"><button ng-if="main.upgradeable" ng-click="main.upgradeAccount()" class="btn upgrade-btn">Upgrade</button><span class="strong">Hello, </span>{{ main.currentUser.first_name }}</p>
            </div>
            <div class="col-sm-1 no-margin no-padding">
              <nav>
              	<ul class="list-unstyled">
              		<li><span id="cog" class="fa fa-cog no-margin no-padding"></span>
              			<ul class="list-unstyled menu-dropdown">
              				<li><a ui-sref="account-settings">Account Settings</a></li>
              				<li><a href="http://support.myproducer.io/" target="_blank">Support</a></li>
              				<li><a ui-sref="logout">Logout</a>
              				</li>
              			</ul>
              		</li>
              	</ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar top-padding50" ng-if=!isLoggedIn>
      <div class="logo text-center">
        <a ui-sref="home" ng-if=main.isNotLogin>
          <img ng-src="./img/mpio-logo.png" alt="">
        </a>
        <a ui-sref="login" ng-if=main.isLogin>
          <img ng-src="./img/mpio-logo.png" alt="">
        </a>
      </div>
    </div>
    <div ui-view></div>
  </div>

</body>
</html>
