<!doctype html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>myproducer.io</title>
  <!-- styles -->
  <link rel="stylesheet" href="./css/bootstrap.min.css" media="screen" title="no title">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/styles.css" media="screen" title="no title">

  <!-- scripts -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
  <script src="./main.js"></script>
  <script src="./services.js"></script>
  <script src="./controllers/mainCtrl.js" charset="utf-8"></script>
  <script src="./controllers/loginCtrl.js" charset="utf-8"></script>
  <script src="./controllers/logoutCtrl.js" charset="utf-8"></script>
  <script src="./controllers/registerCtrl.js" charset="utf-8"></script>
  <script src="./controllers/postCtrl.js" charset="utf-8"></script>
  <script src="./controllers/productionCtrl.js" charset="utf-8"></script>
  <script src="./controllers/offerCtrl.js" charset="utf-8"></script>
  <script src="./controllers/otherProfileCtrl.js" charset="utf-8"></script>
  <script src="./controllers/productionListCtrl.js" charset="utf-8"></script>
  <script src="./controllers/crewListCtrl.js" charset="utf-8"></script>
</head>

  <div class="container-fluid" ng-controller="mainController as main">
    <!-- TODO ng-show="main.currentUser.username" -->
    <div  class="navbar" ng-if=isLoggedIn>
      <div class="navleft logo col-xs-3">
        <img src="" alt=""><h3>💎myproducer.io</h3>
      </div>
      <div class="navright col-xs-9 text-right">
        <div class="nav-currentuser bottom-border">
          <p class="no-margin"><span class="strong">Hello, </span>{{ main.currentUser.username }}
            <a ui-sref="logout"><i class="fa fa-cog"></i></a>
          </p>
        </div>
        <div class="navigation-tabs">
          <p class="no-margin"><a ng-class="{active: activeTab.profile}" ui-sref="profile">PROFILE</a><a ng-class="{active: activeTab.crewList}"ui-sref="crew-list">CREW LIST</a><a ng-class="{active: activeTab.production}" ui-sref="production-list">PRODUCTIONS</a></p>
        </div>
      </div>
    </div>

    <div  class="navbar" ng-if=!isLoggedIn>
      <div class="navleft logo text-center">
        <img src="" alt=""><h3>💎myproducer.io</h3>
      </div>
    </div>
    <div ui-view></div>
  </div>

</body>
</html>
