<p>Hello from myproducer.io!</p>

<p><%= locals.sender %> has made changes to a production you are a part of and they wanted to let you know.</p>

<p>Take a peek at those changes <a href="<%= locals.productionURL %>"><button>HERE</button></a></p>
