<p>Hi <%= locals.email %>,</p>

<p><%= locals.producer %> from myproducer.io has made some changes to a production you are a part of.</p>

<p>Take a peek at those changes here</p>
<a href="<%= locals.productionURL %>"><button>HERE</button></a>
