<p>Hi <%= locals.name %>,</p>

<p>Welcome to MyProducer.io! We're glad to have you onboard as an Alpha user.</p>

</p>We just launched a support page at <a href="support.myproducer.io">support.myproducer.io</a>, which we will continue to update as we grow the platform. We'll also be adding forums to the the support page in the near future, so check back often.</p>

<p>If you have any other questions or comments, feel free to reach out to us!</p>

<p>Best,</p>

<p>Support team at MyProducer.io</p>
