<p>Hi <%= locals.recipient %></p><br>

<p>Welcome to MyProducer.io! We're glad to have you onboard as a new user.</p><br>

<p>We created the platform to help make production easier for Producers, Crew, Talent, and Clients. We're working to automate the most common and repetitive tasks in production to make life easier for everyone.</p><br>

<p>You can access our support page at <a href="http://www.support.myproducer.io">support.myproducer.io</a> We will continue to update it as we release new features. We'll also be adding forums to in the near future, so check back often.</p><br>

<p>If you have any other questions or comments, feel free to reach out to me directly at griffin@myproducer.io.</p><br>

<p>Best,</p><br>

<p>Griffin</p><br>

<strong><p>Griffin Giersch</p></strong>
<p>Head of Support</p>

<img src="https://ci5.googleusercontent.com/proxy/AoK7DE1l26K21gDNCjmBvSZlnvnSeap8Jxr2gMsrZ8nNQHqVftaW6Q39udG2Rw_-gO9jUkJ7HpxT0dlLwmqdxzElDjL2CpTQf1npxQpQjrLDDfyel3IdO5D1uH-xnAyu847IvxHwo5V2h_tZeuDAbhlBqowIJhsqr_azEtbspcX1Qap38EkGtngNozZcDYS6RpUKqYrm_sSuD7k=s0-d-e1-ft#https://docs.google.com/uc?export=download&id=0BykZZGKUQI0UU3hHcEh5R1dQSTg&revid=0BykZZGKUQI0UaXE3ZzZQYW93UGsrckZNWENyaTdsWTErZTdZPQ" />

<p>9469 Jefferson Blvd, Ste. 114<br>
Culver City, CA 90232</p><br>

<a>+1.336.981.4437</a><br>
<a>griffin@myproducer.io</a><br>
<a>try.myproducer.io</a><br>

<h5 style="color: #0B5394;">This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. This message contains confidential information and is intended only for the individual named. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.</h5>
