<div class="col-md-4 col-centered">

  <form class="form" ng-submit="compRegCtrl.completeRegistration()">
    <h3 class="text-center bottom-padding">COMPLETE REGISTRATION</h3>
    <p class="text-center">Please enter your information below.</p>
    <div class="form-group">
      <input type="text" class="form-control out"
       ng-model="compRegCtrl.registerForm.first_name" placeholder="First Name" required>
    </div>
    <div class="form-group">
      <input type="text" class="form-control out"
       ng-model="compRegCtrl.registerForm.last_name" placeholder="Last Name" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control out" name="password" ng-model="compRegCtrl.registerForm.password" placeholder="Password" required>
      </div>
      <div>
        <button type="submit" class="btn approval-btn full-width" ng-disabled="compRegCtrl.disabled">Complete Registration</button>
      </div>
  </form>

</div>


<!-- Modal -->
<div id="modal-root" ng-if="compRegCtrl.modalOpen" style="
    background: black;">
  <div id="modal-container" ng-click="resetPWCtrl.closeNotifModal()">
    <div class="col-md-4 col-centered">
      <h4 class="text-center">You have successfully completed your registration!</h4>
      <br>
      <button class="btn approval-btn full-width" ui-sref="login">Login</button>
    </div>
  </div>
</div>
