
<div class="approved-crew-view col-sm-8">
  <div class="">
    <h4>Approved Crew</h4>
    <!-- TODO This filter breaks your beautiful modal -->
    <!-- <form  class="">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Filter Crew" ng-model="crewFilter">
        <div class="input-group-btn">
          <button ng-click="crewFilter = ''" ng-disabled="!crewFilter" class="btn btn-default" type="button">
            <span>X</span>
          </button>
        </div>
      </div>
    </form> -->
  </div>
  <div class="list-group">
    <div class="list-group-item" ng-repeat="crew in postCtrl.currentUser.contacts | filter:crewFilter">
      <div class="row">
        <div class="col-xs-1 text-left">
          <p>PIC</p>
          <!-- <img ui-sref="" ng-src=""> -->
        </div>
        <div class="col-xs-3">
          <p>{{crew.username}}</p>
        </div>
        <div class="col-xs-2">
          <p>{{crew.role[0] || 'Role'}}</p>
        </div>
        <div class="col-xs-3">
          <p>{{crew.location || 'Location'}}</p>
        </div>
        <div class="col-xs-3">
          <p><a ng-href="/#/profile/{{crew._id}}" class="btn btn-default">View</a>
          <button ng-click="postCtrl.handleAddToButton(crew._id)" class="btn btn-info">+ Add To</button></p>
        </div>
      </div>
    </div>
  </div>
  <div class="add-contact text-left">
      <form ng-submit="postCtrl.addContact()">
        <div class="form-group">
          <input class="form-control" ng-model="postCtrl.newContact.email" type="text" placeholder="Crew Email">
          <button type"submit" class="btn btn-info">Add New Contact</button>
        </div>
      </form>
  </div>
</div>


<div class="pending-crew-view col-sm-4">
  <div class="">
    <h4>Pending Crew</h4>
  </div>
  <div class="list-group">
    <div class="list-group-item">
      <div class="row">
        <div class="col-xs-3 text-left">
          <p>PIC</p>
          <!-- <img ui-sref="" ng-src=""> -->
        </div>
        <div class="col-xs-5">
          <p>Approved Name</p>
        </div>
        <div class="col-xs-4">
          <button ng-click="" class="btn btn-info">Review</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal-root" ng-show="postCtrl.showModal">
  <div id="modal-container">
    <div id="modal" class="col-sm-12">
      <div class="" ng-repeat="production in postCtrl.currentUser.productions" ng-click="postCtrl.addCrewToProduction(production._id)">
        <p>{{ production.name }}</p>
      </div>
      <div class="close-modal" ng-click="postCtrl.closeModal()">
        X
      </div>
    </div>

  </div>

</div>
