<div ng-if="crewListCtrl.ready">
  <div class="approved-crew-view col-sm-8">
    <div class="section">
      <div class="col-sm-12 no-padding">
        <div class="col-sm-6 no-padding">
          <h4 class="title">Approved Crew</h4>
        </div>

        <div class="col-sm-6 no-padding">
          <input type="text" class="form-control title-field-right bg-transparent subtle-border" placeholder="Filter Crew" ng-model="crewFilter">
            <!-- <button ng-click="crewFilter = ''" ng-disabled="!crewFilter" class="btn btn-default" type="button">
              <span>X</span>
            </button> -->
        </div>
      </div>
      <div class="group">
        <div class="line-item bg-transparent" ng-if="crewListCtrl.currentUser.contacts.length < 5">
          <div class="col-sm-12 bg-transparent">
            <p class="strong no-margin" style="margin-left: 30px;">Add contacts so that you can begin building productions!</p>
            <form ng-submit="crewListCtrl.addContact()">
              <div class="col-xs-10">
                <div class="col-xs-4">
                  <p class="no-margin"><input class="form-control bg-transparent subtle-border" ng-model="crewListCtrl.newContact.first_name" type="text" placeholder="First Name"></p>
                </div>
                <div class="col-xs-4">
                  <p class="no-margin"><input class="form-control bg-transparent subtle-border" ng-model="crewListCtrl.newContact.last_name" type="text" placeholder="Last Name"></p>
                </div>
                <div class="col-xs-4">
                  <p class="no-margin"><input class="form-control bg-transparent subtle-border" ng-model="crewListCtrl.newContact.email" type="email" placeholder="Email"></p>
                </div>
              </div>

              <div class="col-xs-2 text-right">
                <p class="no-margin"><button ng-disabled="!crewListCtrl.newContact.email || !crewListCtrl.newContact.first_name || !crewListCtrl.newContact.last_name" type"submit" class="btn main-btn">Add New Contact</button></p>
              </div>
            </form>
          </div>
        </div>
        <div class="line-item y-padding" ng-repeat="crew in crewListCtrl.currentUser.contacts | filter:crewFilter">
          <div class="col-xs-1 text-left">
            <img class="thumb round" ng-show="!crew.picture" ng-src="./img/profile_default.png">
            <img class="thumb round" ng-show="crew.picture" ng-src={{crew.picture}}>
          </div>
          <div class="col-xs-3">
            <p class="strong no-margin">{{crew.first_name + ' ' + crew.last_name}}</p>
          </div>
          <div class="col-xs-3">
            <p class="no-margin">{{crew.title || 'Role'}}</p>
          </div>
          <div class="col-xs-2">
            <p class="no-margin">{{crew.location || 'Location'}}</p>
          </div>
          <div class="col-xs-3 text-right">
            <p class="no-margin"><a ng-href="/#/profile/{{crew._id}}" class="btn default-btn">View</a>
            <button ng-click="crewListCtrl.handleAddToButton(crew._id, crew.username)" class="btn main-btn">+ Add To</button> <a ng-click="crewListCtrl.openDeleteContactModal(crew)"><i class="fa fa-times"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="pending-crew-view col-sm-4">
    <div class="section">
      <div class="col-sm-12 no-padding">
        <h4 class="title">Pending Crew</h4>
      </div>
      <div class="group">
        <div class="line-item y-padding" ng-repeat="pendingContact in crewListCtrl.currentUser.pendingContacts">
          <div class="col-xs-2 text-left">
            <img class="thumb" ng-src="./img/profile_default.png">
            <!-- <img ui-sref="" ng-src=""> -->
          </div>
          <div class="col-xs-6">
            <p class="no-margin">{{ pendingContact.first_name + ' ' + pendingContact.last_name }}</p>
          </div>
          <div class="col-xs-4 text-right">
            <p class="no-margin">
              <a class="btn main-btn" ui-sref="otherProfile({id: pendingContact._id})">Review</a>
            </p>
          </div>
        </div>
        <div class="line-item">
          <p class="no-margin">Invite users to your crew list:</p>
          <input class="form-control" ng-model="crewListCtrl.inviteUrl">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal-root" ng-show="crewListCtrl.showModal">
  <div id="modal-container" ng-click="crewListCtrl.closeModal($event)">
    <div id="modal" class="section">
      <div class="col-sm-12 padding20">
        <div class="col-sm-6 no-padding">
          <h3 class="title no-margin">PRODUCTIONS</h3>
        </div>
        <div class="col-sm-2 no-padding"></div>
        <div class="col-sm-4 no-padding">
          <p class="title"><input type="text" class="form-control bg-transparent subtle-border" placeholder="Search" ng-model="prodFilter"></p>
        </div>
      </div>
      <div class="line-item y-padding" ng-if="production.active && crewListCtrl.compareDate(production.date)" ng-repeat="production in crewListCtrl.currentUser.productions | filter:prodFilter">
        <div class="col-sm-2">
          <p class="strong no-margin">{{ production.date | date : "shortDate" }}</p>
        </div>
        <div class="col-sm-4">
          <p class="strong no-margin">{{ production.name + ' - Day ' + production.productionDay }}</p>
        </div>
        <div class="col-sm-3">
          <p class="strong no-margin">{{ production.location[0] }}</p>
        </div>
        <div class="col-sm-3 text-right">
          <p class="no-margin">
            <a class="btn default-btn" ui-sref="production({id:production._id})">View</a>
            <a class="btn main-btn" ng-click="crewListCtrl.addCrewToProduction(production._id, production.name)">Add</a>
          </p>
        </div>
      </div>

      <div class="line-item padding20 lg-hover" ng-click="">
        <a ui-sref="production-list">
          <p class="text-center no-margin strong fff-text">+ Create A New Production</p>
        </a>
      </div>
      <!-- <div class="close-modal" ng-click="crewListCtrl.closeModal()">
        X
      </div> -->
    </div>
  </div>
</div>

<div id="modal-root" ng-if="crewListCtrl.notifModal.show">
  <div id="modal-container" ng-click="crewListCtrl.closeNotifModal()">
    <div id="modal-sm" class="section">
      <div class="padding20 text-center">
        <h1><i ng-if="crewListCtrl.notifModal.isSuccess" class="fa fa-check-circle-o"></i></h1>
        <h1><i ng-if="crewListCtrl.notifModal.isFailure" class="fa fa-times-circle-o"></i></h1>
        <p>{{ crewListCtrl.notifModal.content }}</p>
        <p><a class="btn approval-btn">Close</a></p>
      </div>
    </div>
  </div>
</div>

<div id="modal-root" ng-if="crewListCtrl.showDeleteContactModal">
  <div id="modal-container" ng-click="crewListCtrl.closeDeleteContactModal()">
    <div id="modal-md" class="section">
      <div class="padding20 text-center">
        <h1><i class="fa fa-times-circle"></i></h1>
        <p>Are you sure you want to delete {{ crewListCtrl.contact.first_name + ' ' + crewListCtrl.contact.last_name }} from your Approved Crew?</p>
        <br>
        <img class="thumb-md round" ng-show="!crewListCtrl.contact.picture" ng-src="./img/profile_default.png">
        <img class="thumb-md round" ng-show="crewListCtrl.contact.picture" ng-src={{crewListCtrl.contact.picture}}>
        <br>
        <br>
        <p>You can always add them back later.</p>
        <br>
        <p><a class="btn approval-btn" ng-click="crewListCtrl.deleteContact(crewListCtrl.contact._id)">Yes</a> <a class="btn error-btn" ng-click="crewListCtrl.closeDeleteContactModal()">Cancel</a></p>
      </div>
    </div>
  </div>
</div>
