<div class="col-md-4 col-centered">
  <form class="form" ng-submit="forgotPWCtrl.forgot(forgotPWCtrl.email)">
    <h3 class="text-center bottom-padding">FORGOT PASSWORD</h3>
    <p>Did you forget your password? Enter your email below and we will send you a link to reset your password.</p>
    <br>
    <div class="form-group">
      <input class="form-control out" type="text" name="email" autofocus="autofocus" ng-model="forgotPWCtrl.email" placeholder="Email"/>
    </div>
    <button class="btn approval-btn full-width" type="submit">Reset Password</button>
  </form>
</div>
<!-- Modal -->
<div id="modal-root" ng-if="forgotPWCtrl.modalOpen" style="
    background: black;">
  <div id="modal-container" ng-click="forgotPasswordCtrl.closeNotifModal()">
    <div class="col-md-4 col-centered">
      <h1 class="text-center">An email has been sent to the specified address with a link to reset your password.</h1>
      <br>
      <button class="btn approval-btn full-width" ui-sref="home">Continue</button>
    </div>
  </div>
</div>
