<div class="text-center">
  <h3>Select which type of account you want to create:</h3>

  <div ng-if="!homeCtrl.registerIntent">
    <a ui-sref="login({ur: 'producer'})" class="btn main-btn hero-btn">Producer</a>
    <a ui-sref="login({ur: 'crew'})" class="btn main-btn hero-btn">Crew & Talent</a>
  </div>

  <div ng-if="homeCtrl.registerIntent">
    <a ui-sref="register({ur: 'producer'})" class="btn main-btn hero-btn">Producer</a>
    <a ui-sref="register({ur: 'crew'})" class="btn main-btn hero-btn">Crew & Talent</a>
  </div>

</div>
