<div class="container top-padding30">
  <div class="col-md-4 col-centered">
    <h3 class="text-center bottom-padding">LOGIN</h3>
    <!-- <div class="col-sm-6">
      <div>
        <a ui-sref="register({ur: loginCtrl.userRole})"><button class="btn btn-default">Create A New Account</button></a>
      </div>
    </div> -->
      <div ng-show="loginCtrl.error" class="alert alert-danger">{{ loginCtrl.errorMessage }}</div>
    <form class="form" ng-submit="loginCtrl.login()">
      <div class="form-group">
        <input type="text" class="login form-control out highlight-specific" name="email" ng-model="loginCtrl.loginForm.username" placeholder="Email" required>
      </div>
      <div class="form-group">
          <input type="password" class="login form-control out highlight-specific" name="password" ng-model="loginCtrl.loginForm.password" placeholder="Password" required>
        </div>
        <div>
          <p>
            <button type="submit" class="btn approval-btn full-width" ng-disabled="loginCtrl.disabled">Sign In</button>
          </p>
          <p>
            <a ui-sref="register({ur: 'producer'})"><button class="btn main-btn full-width">Create A New Account</button></a>
          </p>
          <p class="text-center"><a class="fff-text" ui-sref="forgot-password">Forgot Password?</a></p>
        </div>
    </form>
  </div>
</div>
