<div class="col-sm-6">
  <h1>myproducer.io</h1>
  <div>
    <button class="btn btn-default" ng-click="loginCtrl.register()">Sign Up</button>
  </div>
</div>
<div class="col-sm-6">
  <div ng-show="loginCtrl.error" class="alert alert-danger">{{ loginCtrl.errorMessage }}</div>
  <form class="form" ng-submit="loginCtrl.login()">
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email" ng-model="loginCtrl.loginForm.username" required>
    </div>
    <div class="form-group">
      <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="loginCtrl.loginForm.password" required>
      </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="loginCtrl.disabled">Login</button>
      </div>
  </form>
</div>
