<!-- <div ng-if="offerCtrl.ready"> -->
  <div class="section bottom-padding">
    <div class="col-sm-6 col-centered">
      <h3 id="offer-to">OFFER TO {{offerCtrl.crew.to.first_name + ' ' + offerCtrl.crew.to.last_name | uppercase}}</h3>
      <p><h6 style="display: inline-block">from {{offerCtrl.crew.production.by_.first_name + ' ' + offerCtrl.crew.production.by_.last_name}}</h6> <h6 style="display: inline-block">for <a style="display: inline-block" ui-sref="production({id: offerCtrl.crew.production._id})">{{ offerCtrl.crew.production.name }}</a></h6></p>

      <div class="line-item">
        <div class="form-group">
          <h5 class="field-title"><label>Date</label></h5>
          <p class="disabled-form-control-2">{{offerCtrl.crew.production.date | date: 'shortDate'}}</p>
        </div>
        <div class="form-group">
          <h5 class="field-title"><label>Location</label></h5>
          <p class="disabled-form-control-2">{{offerCtrl.crew.production.location[0]}}</p>
        </div>
        <div class="form-group">
          <h5 class="field-title"><label>Title</label></h5>
          <p class="disabled-form-control-2">{{offerCtrl.crew.offer.position}}</p>
        </div>

        <div class="form-group col-sm-6 no-padding">
          <h5 class="field-title"><label>Rate</label></h5>
          <p class="disabled-form-control-2">{{offerCtrl.crew.offer.rate | currency:"$":0}}</p>
        </div>

        <div class="form-group col-sm-6 no-padding-right">
          <h5 class="field-title"><label>Hours</label></h5>
          <p class="disabled-form-control-2">{{offerCtrl.crew.offer.hours}}</p>
        </div>
      </div>

      <div class="col-sm-12 padding20" ng-if="!offerCtrl.isProducer && offerCtrl.crew.offer.status == 'Pending' && offerCtrl.compareDate(offerCtrl.crew.production.date)">
        <div class="col-sm-6 text-right">
          <a class="btn default-btn x-padding" ng-click="offerCtrl.updateOfferStatus('Declined')">Decline</a>
        </div>
        <div class="col-sm-6 text-left">
          <a class="btn approval-btn x-padding" ng-click="offerCtrl.updateOfferStatus('Accepted')">Accept</a>
        </div>
      </div>

      <div class="col-sm-12 padding20" ng-if="offerCtrl.isProducer || offerCtrl.crew.offer.status != 'Pending'">
        <div class="text-center">
          <p class="padding10 error-btn" ng-if="offerCtrl.crew.offer.status === 'Declined'">Offer {{ offerCtrl.crew.offer.status }}</p>
          <p class="padding10 approval-alt-btn" ng-if="offerCtrl.crew.offer.status === 'Accepted'">Offer {{ offerCtrl.crew.offer.status }}</p>
          <p class="offer-status padding10 approval-btn" ng-if="offerCtrl.crew.offer.status === 'Pending'">Offer {{ offerCtrl.crew.offer.status }}</p>
          <!-- <a class="btn approval-btn x-padding"> {{ offerCtrl.crew.offer.status }} </a> -->
        </div>
      </div>

      <div class="col-sm-12 no-padding">
        <div class="group line-item">
          <div class="message" ng-repeat="message in offerCtrl.crew.message">
              <div class="avatar">
                <img class="thumb round" ng-hide="message._by.picture" ng-src="./img/profile_default.png">
                <img class="thumb round" ng-show="message._by.picture" ng-src={{message._by.picture}}>
                <!-- <img class="thumb round" ng-src={{message._by.picture}}> -->
              </div>
              <div class="chat">
                <span class="strong">{{message._by.first_name + ' ' + message._by.last_name}}</span>
                <span class="meta"><small>{{ message.createdAt | date:'medium' }}</small></span>
                <p class="content no-margin">{{message.content}}</p>
              </div>
          </div>
        </div>

        <form ng-submit="offerCtrl.addMessage()">
          <p>
            <input type="text" id="message-box" class="message-form form-control no-border" ng-model="offerCtrl.newMessage" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'">
          </p>

          <button type="submit" class="btn default-btn x-padding">Send</a>
        </form>
      </div>
    </div>
  </div>
<!-- </div> -->

<div id="modal-root" ng-if="offerCtrl.showVerificationModal">
  <div id="modal-container">
    <div id="modal-md" class="section">
      <div class="padding20 text-center">
        <h1><i class="fa fa-times-circle"></i></h1>
        <h1>Oops!</h1>
        <p>You must be logged in to do that.</p>
        <br>
        <p><a ng-if="!offerCtrl.crew.to.resetPasswordToken" class="btn approval-btn" ui-sref="login">Login</a>
          <a class="btn error-btn" ng-click="offerCtrl.redirectCompReg()" ng-if="offerCtrl.crew.to.resetPasswordToken">Complete Registration</a></p>
      </div>
    </div>
  </div>
</div>
