<div ng-if="offerCtrl.ready">
  <div class="section bottom-padding">
    <div class="col-sm-6 col-centered">
      <h3 ng-if="offerCtrl.isProducer">OFFER TO {{offerCtrl.crew.to.first_name + ' ' + offerCtrl.crew.to.last_name | uppercase}}</h3>
      <h3 ng-if="offerCtrl.isCrew">OFFER FROM {{offerCtrl.crew.production.by_.first_name + ' ' + offerCtrl.crew.production.by_.last_name | uppercase}}</h3>
      <h4>for <a ui-sref="production({id: offerCtrl.crew.production._id})">{{ offerCtrl.crew.production.name }}</a></h4>

      <div class="line-item">
        <div class="form-group">
          <h5 class="field-title"><label>Date</label></h5>
          <p class="disabled-form-control-2">{{offerCtrl.crew.production.date | date: 'shortDate'}}</p>
        </div>
        <div class="form-group">
          <h5 class="field-title"><label>Location</label></h5>
          <p class="disabled-form-control-2">{{offerCtrl.crew.production.location[0]}}</p>
        </div>
        <div class="form-group">
          <h5 class="field-title"><label>Title</label></h5>
          <p class="disabled-form-control-2">{{offerCtrl.crew.offer.position}}</p>
        </div>

        <div class="form-group col-sm-6 no-padding">
          <h5 class="field-title"><label>Rate</label></h5>
          <p class="disabled-form-control-2">{{offerCtrl.crew.offer.rate | currency:"$":0}}</p>
        </div>

        <div class="form-group col-sm-6 no-padding-right">
          <h5 class="field-title"><label>Hours</label></h5>
          <p class="disabled-form-control-2">{{offerCtrl.crew.offer.hours}}</p>
        </div>
      </div>

      <div class="col-sm-12 padding20" ng-if="offerCtrl.isCrew && offerCtrl.crew.offer.status == 'Pending' && offerCtrl.compareDate(offerCtrl.crew.production.date)">
        <div class="col-sm-6 text-right">
          <a class="btn default-btn x-padding" ng-click="offerCtrl.updateOfferStatus('Declined')">Decline</a>
        </div>
        <div class="col-sm-6 text-left">
          <a class="btn approval-btn x-padding" ng-click="offerCtrl.updateOfferStatus('Accepted')">Accept</a>
        </div>
      </div>

      <div class="col-sm-12 padding20" ng-if="offerCtrl.isProducer || offerCtrl.crew.offer.status != 'Pending'">
        <div class="text-center">
          <a class="btn approval-btn x-padding"> {{ offerCtrl.crew.offer.status }} </a>
        </div>
      </div>

      <div class="col-sm-12 no-padding">
        <div class="group line-item">
          <div class="message" ng-repeat="message in offerCtrl.crew.message">
              <div class="avatar">
                <img class="thumb" ng-src="./img/profile_default.png">
              </div>
              <div class="chat">
                <span class="strong">{{message._by.first_name + ' ' + message._by.last_name}}</span>
                <span class="meta"><small>{{ message.createdAt | date:'medium' }}</small></span>
                <p class="content no-margin">{{message.content}}</p>
              </div>
          </div>
        </div>

        <form>
          <p>
            <textarea class="form-control no-border" ng-model="offerCtrl.newMessage" placeholder="Message"></textarea>
          </p>
          <p>
            <a ng-click="offerCtrl.addMessage()" class="btn default-btn x-padding">Send</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
