
<div class="profile-view col-sm-8">
  <div="profile-view-content">
  <form ng-submit="otherProfileCtrl.editUser()">
    <div class="profile-view-left col-sm-3">
      <div class="profile-picture">
        <img class="img-responsive" ng-src="./img/profile_default.png">
      </div>
      <div class="profile-name" ng-init="editingState = false">
        <h3 ng-hide="editingState">{{ otherProfileCtrl.user.first_name || "FIRST" }}</h3>
        <label for="userFirstName">First</label>
        <input ng-show="editingState" ng-model="otherProfileCtrl.user.first_name" class="form-control" id="userFirstName">
        <h3 ng-hide="editingState">{{ otherProfileCtrl.user.last_name || "LAST" }}</h3>
        <label for="userLastName">Location</label>
        <input ng-show="editingState" ng-model="otherProfileCtrl.user.last_name" class="form-control" id="userName">
      </div>
        <!-- <div class="form-group">
          <label for="userRole">Role</label>
          <input ng-show="editingState" ng-model="otherProfileCtrl.user.role[0]" class="form-control" id="userRole">
          <p ng-hide="editingState"> {{otherProfileCtrl.user.role[0] || 'Role'}} </p>
        </div> -->
        <div class="form-group">
          <label for="userLocation">Location</label>
          <input ng-show="editingState" ng-model="otherProfileCtrl.user.location" class="form-control" id="userLocation">
          <p ng-hide="editingState"> {{otherProfileCtrl.user.location || 'Location'}} </p>
        </div>
        <div class="form-group">
          <label for="userTitle">Title</label>
          <input ng-show="editingState" ng-model="otherProfileCtrl.user.title" class="form-control" id="userTitle">
          <p ng-hide="editingState"> {{otherProfileCtrl.user.title || 'Title'}} </p>
        </div>
        <div class="form-group">
          <label for="userTitle">Email Address</label>
          <input ng-show="editingState" ng-model="otherProfileCtrl.user.username" class="form-control" id="userEmail">
          <p ng-hide="editingState"> {{otherProfileCtrl.user.username || 'Email'}} </p>
        </div>
        <div class="form-group">
          <label for="userPhone">Phone Number</label>
          <input ng-show="editingState" ng-model="otherProfileCtrl.user.phone" class="form-control" id="userPhone"></input>
          <p ng-hide="editingState"> {{otherProfileCtrl.user.phone || 'Phone Number'}} </p>
        </div>
        <div class="form-group">
          <label for="userWebsite">Website</label>
          <input ng-show="editingState" ng-model="otherProfileCtrl.user.website" class="form-control" id="userWebsite">
          <p ng-hide="editingState"> {{otherProfileCtrl.user.website || 'Website'}} </p>
        </div>
        <!-- <div class="form-group">
          <button ng-show="editingState" type="submit" class="btn btn-default">Update</button>
          <a ng-hide="editingState" ng-click="editingState = !editingState" class="btn btn-default">Edit</a>
        </div> -->
      </div>
      <div class="profile-view-right col-sm-9">
        <div class="profile-bio form-group">
          <h4>Bio</h4>
          <hr>
          <textarea ng-show="editingState" ng-model="otherProfileCtrl.user.bio" class="form-control" id="userBio"></textarea>
          <p ng-hide="editingState" >{{otherProfileCtrl.user.bio || 'Write a bio...'}}</p>
        </div>
        <div class="profile-skills form-group">
          <h4>Skills</h4>
          <hr>
          <ul ng-show="editingState">
            <input ng-model="otherProfileCtrl.user.skills[0]" class="form-control" id="userSkill1">
            <input ng-model="otherProfileCtrl.user.skills[1]" class="form-control" id="userSkill2">
            <input ng-model="otherProfileCtrl.user.skills[2]" class="form-control" id="userSkill3">
            <input ng-model="otherProfileCtrl.user.skills[3]" class="form-control" id="userSkill4">
          </ul>
          <ul ng-hide="editingState">
            <li>{{otherProfileCtrl.user.skills[0] || 'Add a Skill'}}</li>
            <li>{{otherProfileCtrl.user.skills[1] || 'Add a Skill'}}</li>
            <li>{{otherProfileCtrl.user.skills[2] || 'Add a Skill'}}</li>
            <li>{{otherProfileCtrl.user.skills[3] || 'Add a Skill'}}</li>
          </ul>
        </div>
        <div class="profile-equipment form-group">
          <h4>Equipment</h4>
          <hr>
          <ul ng-show="editingState">
            <input ng-model="otherProfileCtrl.user.equipment[0]" class="form-control" id="userEquipment1">
            <input ng-model="otherProfileCtrl.user.equipment[1]" class="form-control" id="userEquipment2">
            <input ng-model="otherProfileCtrl.user.equipment[2]" class="form-control" id="userEquipment3">
            <input ng-model="otherProfileCtrl.user.equipment[3]" class="form-control" id="userEquipment4">
          </ul>
          <ul ng-hide="editingState">
            <li>{{otherProfileCtrl.user.equipment[0] || 'Add Equipment'}}</li>
            <li>{{otherProfileCtrl.user.equipment[1] || 'Add Equipment'}}</li>
            <li>{{otherProfileCtrl.user.equipment[2] || 'Add Equipment'}}</li>
            <li>{{otherProfileCtrl.user.equipment[3] || 'Add Equipment'}}</li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="production-quick-view col-sm-4">
  <div class="productions-pending">
    <h4>Pending Productions</h4>
    <ul>
      <li>mm/dd/yyyy  <a>Review</a></li>
      <li>mm/dd/yyyy  <a>Review</a></li>
      <li>mm/dd/yyyy  <a>Review</a></li>
    </ul>
  </div>
  <div class="productions-current">
    <h4>Current Productions</h4>
    <ul>
      <li>mm/dd/yyyy  <a>View</a></li>
      <li>mm/dd/yyyy  <a>View</a></li>
      <li>mm/dd/yyyy  <a>View</a></li>
    </ul>
  </div>
  <div class="productions-past">
    <h4>Past Productions</h4>
    <ul>
      <li>mm/dd/yyyy  <a>View</a></li>
      <li>mm/dd/yyyy  <a>View</a></li>
      <li>mm/dd/yyyy  <a>View</a></li>
      <li>mm/dd/yyyy  <a>View</a></li>
    </ul>
  </div>
</div>
