
<div class="productions-view">
  <div class="">
    <h4>Productions</h4>
  </div>
  <div class="list-group-item" ng-repeat="production in postCtrl.currentUser.productions">
    <div class="row">
      <div class="col-xs-2 start-date">
        <p>mm/dd/yyyy</p>
      </div>
      <div class="col-xs-2 end-date">
        <p>mm/dd/yyyy</p>
      </div>
      <div class="col-xs-2">
        <p>{{ production.name || "Name Not Found" }}</p>
      </div>
      <div class="col-xs-3">
        <p>Location</p>
      </div>
      <div class="col-xs-3 text-right">
        <p><a ng-href="/#/production/{{production._id}}" class="btn btn-info">View</a>
        <button ng-click="" class="btn btn-primary">Edit</button></p>
      </div>
    </div>
  </div>
  <!-- TODO This is dummy content to adjust styling while I'm not logged in. Will remove later -->
  <div class="list-group-item" ng-hide="main.currentUser.username">
    <div class="row">
      <div class="col-xs-2 start-date">
        <p>mm/dd/yyyy</p>
      </div>
      <div class="col-xs-2 end-date">
        <p>mm/dd/yyyy</p>
      </div>
      <div class="col-xs-2">
        <p>{{ production.name || "Name Not Found" }}</p>
      </div>
      <div class="col-xs-3">
        <p>Location</p>
      </div>
      <div class="col-xs-3 text-right">
        <p><a ng-href="/#/production/{{production._id}}" class="btn btn-info">View</a>
        <button ng-click="" class="btn btn-primary">Edit</button></p>
      </div>
    </div>
  </div>
</div>

<div class="past-productions-view">
  <div class="">
    <h4>Past Productions</h4>
  </div>
  <div class="list-group-item"><!-- ng-repeat="crew in productionCtrl.pendingCrew" -->
    <div class="row">
      <div class="col-xs-2 start-date">
        <p>mm/dd/yyyy</p>
      </div>
      <div class="col-xs-2 end-date">
        <p>mm/dd/yyyy</p>
      </div>
      <div class="col-xs-2">
        <p>Title</p>
      </div>
      <div class="col-xs-3">
        <p>Location</p>
      </div>
      <div class="col-xs-3 text-right">
        <p><button ng-click="" class="btn btn-info">View</button>
      </div>
    </div>
  </div>
</div>
