
<!-- TODO This content belongs wherever producers build new productions -->
<!-- <div class="production-view col-sm-5">
  <div>
    <h3>Productions</h3>
    <form ng-submit="postCtrl.addProduction()">
        <input ng-model="postCtrl.newProduction.name" type="text" placeholder="Production Name">
      <button type="submit" name="button">Submit</button>
    </form>
  </div>
  <div>
    <ul>
      <li ng-repeat="production in postCtrl.currentUser.productions"><a ng-href="/#/production/{{production._id}}">{{ production.name || "Name Not Found" }}</a></li>
    </ul>
  </div>
</div> -->

<div class="profile-view col-sm-8">
  <div="profile-view-content">
  <form ng-submit="postCtrl.editUser()">
    <div class="profile-view-left col-sm-3">
      <div class="profile-picture">
        <p>PIC</p><img src="" alt="">
      </div>
      <div class="profile-name">
        <h3>{{ postCtrl.currentUser.name || "USER NAME" }}</h3>
      </div>
        <div class="form-group">
          <label for="userLocation">Location</label>
          <input ng-model="postCtrl.newUser.location" class="form-control" id="userLocation" placeholder="{{ postCtrl.currentUser.location || 'Location' }}">
        </div>
        <div class="form-group">
          <label for="userTitle">Title</label>
          <input ng-model="postCtrl.newUser.title" class="form-control" id="userTitle" placeholder="{{ postCtrl.currentUser.title || 'Title' }}">
        </div>
        <div class="form-group">
          <label for="userEmail">Email Address</label>
          <input ng-model="postCtrl.newUser.username" class="form-control" id="userEmail" placeholder="{{ postCtrl.currentUser.username || 'Email Address' }}">
        </div>
        <div class="form-group">
          <label for="userPhone">Phone Number</label>
          <input ng-model="postCtrl.newUser.phone" class="form-control" id="userPhone" placeholder="{{ postCtrl.currentUser.phone || 'Phone Number' }}"></input>
        </div>
        <div class="form-group">
          <label for="userWebsite">Website</label>
          <input ng-model="postCtrl.newUser.website" class="form-control" id="userWebsite" placeholder="{{ postCtrl.currentUser.website || 'Website' }}">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Update</button>
        </div>
      </div>
      <div class="profile-view-right col-sm-9">
        <div class="profile-bio form-group">
          <h4>Bio</h4>
          <hr>
          <textarea ng-model="postCtrl.newUser.bio" class="form-control" id="userBio" placeholder="{{ postCtrl.currentUser.bio || 'No bio for this user yet' }}"></textarea>
        </div>
        <div class="profile-skills form-group">
          <h4>Skills</h4>
          <hr>
          <ul>
            <input ng-model="postCtrl.newUser.skills[0]" class="form-control" id="userSkill1" placeholder="{{ postCtrl.currentUser.skills[0] || 'Add a skill' }}">
            <input ng-model="postCtrl.newUser.skills[1]" class="form-control" id="userSkill2" placeholder="{{ postCtrl.currentUser.skills[1] || 'Add a skill' }}">
            <input ng-model="postCtrl.newUser.skills[2]" class="form-control" id="userSkill3" placeholder="{{ postCtrl.currentUser.skills[2] || 'Add a skill' }}">
            <input ng-model="postCtrl.newUser.skills[3]" class="form-control" id="userSkill4" placeholder="{{ postCtrl.currentUser.skills[3] || 'Add a skill' }}">
          </ul>
        </div>
        <div class="profile-equipment form-group">
          <h4>Equipment</h4>
          <hr>
          <ul>
            <input ng-model="postCtrl.newUser.equipment[0]" class="form-control" id="userEquipment1" placeholder="{{ postCtrl.currentUser.equipment[0] || 'Add equipment' }}">
            <input ng-model="postCtrl.newUser.equipment[1]" class="form-control" id="userEquipment2" placeholder="{{ postCtrl.currentUser.equipment[1] || 'Add equipment' }}">
            <input ng-model="postCtrl.newUser.equipment[2]" class="form-control" id="userEquipment3" placeholder="{{ postCtrl.currentUser.equipment[2] || 'Add equipment' }}">
            <input ng-model="postCtrl.newUser.equipment[3]" class="form-control" id="userEquipment4" placeholder="{{ postCtrl.currentUser.equipment[3] || 'Add equipment' }}">
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="production-quick-view col-sm-4">
  <div class="productions-pending">
    <h4>Pending Productions</h4>
    <ul>
      <li>mm/dd/yyyy  <a>Review</a></li>
      <li>mm/dd/yyyy  <a>Review</a></li>
      <li>mm/dd/yyyy  <a>Review</a></li>
    </ul>
  </div>
  <div class="productions-current">
    <h4>Current Productions</h4>
    <ul>
      <li>mm/dd/yyyy  <a>View</a></li>
      <li>mm/dd/yyyy  <a>View</a></li>
      <li>mm/dd/yyyy  <a>View</a></li>
    </ul>
  </div>
  <div class="productions-past">
  <div class="productions-past">
    <h4>Past Productions</h4>
    <ul>
      <li>mm/dd/yyyy  <a>View</a></li>
      <li>mm/dd/yyyy  <a>View</a></li>
      <li>mm/dd/yyyy  <a>View</a></li>
      <li>mm/dd/yyyy  <a>View</a></li>
    </ul>
  </div>
</div>
