
<!-- TODO This content belongs wherever producers build new productions -->
<!-- <div class="production-view col-sm-5">
  <div>
    <h3>Productions</h3>
    <form ng-submit="postCtrl.addProduction()">
        <input ng-model="postCtrl.newProduction.name" type="text" placeholder="Production Name">
      <button type="submit" name="button">Submit</button>
    </form>
  </div>
  <div>
    <ul>
      <li ng-repeat="production in postCtrl.currentUser.productions"><a ng-href="/#/production/{{production._id}}">{{ production.name || "Name Not Found" }}</a></li>
    </ul>
  </div>
</div> -->

<div class="profile-view col-sm-8">
  <div="profile-view-content">
  <form ng-submit="postCtrl.editUser()">
    <div class="profile-view-left col-sm-3">
      <div class="profile-picture">
        <p>PIC</p><img src="" alt="">
      </div>
      <div class="profile-name">
        <h3>{{ postCtrl.currentUser.name || "USER NAME" }}</h3>
      </div>
        <div class="form-group">
          <label for="userLocation">Location</label>
          <input ng-model="postCtrl.currentUser.location" class="form-control" id="userLocation">
        </div>
        <div class="form-group">
          <label for="userTitle">Title</label>
          <input ng-model="postCtrl.currentUser.title" class="form-control" id="userTitle">
        </div>
        <div class="form-group">
          <label for="userEmail">Email Address</label>
          <input ng-model="postCtrl.currentUser.username" class="form-control" id="userEmail">
        </div>
        <div class="form-group">
          <label for="userPhone">Phone Number</label>
          <input ng-model="postCtrl.currentUser.phone" class="form-control" id="userPhone"></input>
        </div>
        <div class="form-group">
          <label for="userWebsite">Website</label>
          <input ng-model="postCtrl.currentUser.website" class="form-control" id="userWebsite">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Update</button>
        </div>
      </div>
      <div class="profile-view-right col-sm-9">
        <div class="profile-bio form-group">
          <h4>Bio</h4>
          <hr>
          <textarea ng-model="postCtrl.currentUser.bio" class="form-control" id="userBio"></textarea>
        </div>
        <div class="profile-skills form-group">
          <h4>Skills</h4>
          <hr>
          <ul>
            <input ng-model="postCtrl.currentUser.skills[0]" class="form-control" id="userSkill1">
            <input ng-model="postCtrl.currentUser.skills[1]" class="form-control" id="userSkill2">
            <input ng-model="postCtrl.currentUser.skills[2]" class="form-control" id="userSkill3">
            <input ng-model="postCtrl.currentUser.skills[3]" class="form-control" id="userSkill4">
          </ul>
        </div>
        <div class="profile-equipment form-group">
          <h4>Equipment</h4>
          <hr>
          <ul>
            <input ng-model="postCtrl.currentUser.equipment[0]" class="form-control" id="userEquipment1">
            <input ng-model="postCtrl.currentUser.equipment[1]" class="form-control" id="userEquipment2">
            <input ng-model="postCtrl.currentUser.equipment[2]" class="form-control" id="userEquipment3">
            <input ng-model="postCtrl.currentUser.equipment[3]" class="form-control" id="userEquipment4">
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="production-quick-view col-sm-4">
  <div class="productions-pending">
    <h4>Pending Productions</h4>
    <ul>
      <li>mm/dd/yyyy  <a>Review</a></li>
      <li>mm/dd/yyyy  <a>Review</a></li>
      <li>mm/dd/yyyy  <a>Review</a></li>
    </ul>
  </div>
  <div class="productions-current">
    <h4>Current Productions</h4>
    <ul>
      <li>mm/dd/yyyy  <a>View</a></li>
      <li>mm/dd/yyyy  <a>View</a></li>
      <li>mm/dd/yyyy  <a>View</a></li>
    </ul>
  </div>
  <div class="productions-past">
  <div class="productions-past">
    <h4>Past Productions</h4>
    <ul>
      <li>mm/dd/yyyy  <a>View</a></li>
      <li>mm/dd/yyyy  <a>View</a></li>
      <li>mm/dd/yyyy  <a>View</a></li>
      <li>mm/dd/yyyy  <a>View</a></li>
    </ul>
  </div>
</div>
