<div ng-if="postCtrl.ready">
  <div class="profile-view col-sm-8">
    <div class="section bottom-padding x-padding">
      <div class="profile-view-content">
        <form ng-submit="postCtrl.editUser()">
          <div class="col-sm-12">
            <br>
          </div>
          <div class="profile-view-left col-sm-4 right-border">
            <div class="profile-picture round" ng-click="postCtrl.openModal2()">
              <img id="profile-picture" class="img-responsive round" ng-src="{{postCtrl.profilePicture}}">
              <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
              <p>Change</p>
            </div>
            <div class="profile-name">
              <h3 class="sub-title text-vw">{{ postCtrl.currentUser.first_name + ' ' + postCtrl.currentUser.last_name | uppercase }}</h3>
              <!-- <h3 ng-hide="postCtrl.editingState">{{ otherProfileCtrl.user.first_name || "FIRST" }}</h3>
              <label ng-show="postCtrl.editingState" for="userFirstName">First</label>
              <input ng-show="postCtrl.editingState" ng-model="otherProfileCtrl.user.first_name" class="form-control" id="userFirstName">
              <h3 ng-hide="postCtrl.editingState">{{ otherProfileCtrl.user.last_name || "LAST" }}</h3>
              <label ng-show="postCtrl.editingState" for="userLastName">LAST</label>
              <input ng-show="postCtrl.editingState" ng-model="otherProfileCtrl.user.last_name" class="form-control" id="userName"> -->
            </div>
            <!-- <div class="form-group">
              <label for="userRole">Role</label>
              <input ng-show="postCtrl.editingState" ng-model="postCtrl.currentUser.role[0]" class="form-control" id="userRole">
              <p ng-hide="postCtrl.editingState"> {{postCtrl.currentUser.role[0] || 'Role'}} </p>
            </div> -->
            <div class="form-group">
              <h5 class="field-title"><label for="userLocation">Location</label></h4>
              <input ng-click="postCtrl.loadGooglePlaces()" type="text" ng-show="postCtrl.editingState1" ng-model="postCtrl.currentUser.location" class="form-control" id="userLocation">
              <p id="profile-location" class="disabled-form-control hand highlight-specific" ng-click="postCtrl.editingState1 = true" ng-hide="postCtrl.editingState1"> {{postCtrl.currentUser.location}} <i class="fa fa-pencil float-right"></i></p>
            </div>
            <div class="form-group">
              <h5 class="field-title"><label for="userTitle">Title</label></h4>
              <input ng-show="postCtrl.editingState1" ng-model="postCtrl.currentUser.title" class="form-control" id="userTitle">
              <p class="disabled-form-control hand highlight-specific" ng-click="postCtrl.editingState1 = true" ng-hide="postCtrl.editingState1"> {{postCtrl.currentUser.title}} <i class="fa fa-pencil float-right"></i></p>
            </div>
            <div class="form-group">
              <h5 class="field-title"><label for="userEmail">Email Address</label></h4>
              <input ng-show="postCtrl.editingState1" ng-model="postCtrl.currentUser.username" class="form-control" id="userEmail">
              <p id="notes" class="disabled-form-control hand highlight-specific" ng-click="postCtrl.editingState1 = true" ng-hide="postCtrl.editingState1"> {{postCtrl.currentUser.username}} <i class="fa fa-pencil float-right"></i></p>
            </div>
            <div class="form-group">
              <h5 class="field-title"><label for="userPhone">Phone Number</label></h4>
              <input ng-show="postCtrl.editingState1" ng-model="postCtrl.currentUser.phone" class="form-control" id="userPhone"></input>
              <p class="disabled-form-control hand highlight-specific" ng-click="postCtrl.editingState1 = true" ng-hide="postCtrl.editingState1"> {{postCtrl.currentUser.phone}} <i class="fa fa-pencil float-right"></i></p>
            </div>
            <div class="form-group">
              <h5 class="field-title"><label for="userWebsite">Website</label></h4>
              <input ng-show="postCtrl.editingState1" ng-model="postCtrl.currentUser.website" placeholder="www.myproducer.io" class="form-control" id="userWebsite">
              <p id="notes" class="disabled-form-control hand highlight-specific" ng-click="postCtrl.editingState1 = true" ng-hide="postCtrl.editingState1">{{postCtrl.currentUser.website}}<i class="fa fa-pencil float-right"></i></p>
            </div>
            <div class="form-group">
              <button ng-show="postCtrl.editingState1" type="submit" class="btn default-btn">Save</button>
              <!-- <a ng-hide="postCtrl.editingState1 || postCtrl.editingsState2 || postCtrl.editingState3 || postCtrl.editingState4" ng-click="postCtrl.editingState = true" class="btn default-btn">Edit</a> -->
            </div>
          </div>
          <div class="profile-view-right col-sm-8">
            <div class="profile-bio form-group">
              <h4 class="sub-title sub-inline">Bio</h4>
              <i id="bio-pencil" class="fa fa-pencil float-right hand" ng-click="postCtrl.editingState2=true"></i>
              <hr class="hr-sub">
              <textarea rows="{{postCtrl.rows}}" maxlength="1000" ng-show="postCtrl.editingState2" ng-model="postCtrl.currentUser.bio" class="form-control" id="userBio"></textarea>
              <p ng-hide="postCtrl.editingState2 || !postCtrl.currentUser.bio"><span id="biography" class="highlight">{{postCtrl.currentUser.bio}}</span></p>
              <ul><p ng-hide="postCtrl.currentUser.bio || postCtrl.editingState2" class="highlight"><span>Tell everyone about yourself.</span></p></ul>
              <button ng-show="postCtrl.editingState2" type="submit" class="btn default-btn margin5-top">Save</button>
            </div>
            <div class="profile-skills form-group">
              <h4 class="sub-title sub-inline">Skills</h4>
              <i id="skills-pencil" class="fa fa-pencil float-right hand"ng-click="postCtrl.editingState3=true"></i>
              <hr class="hr-sub">
              <div ng-show="postCtrl.editingState3">
                <p><input ng-model="postCtrl.currentUser.skills[0]" class="form-control" id="userSkill1"></p>
                <p><input ng-model="postCtrl.currentUser.skills[1]" class="form-control" id="userSkill2"></p>
                <p><input ng-model="postCtrl.currentUser.skills[2]" class="form-control" id="userSkill3"></p>
                <p><input ng-model="postCtrl.currentUser.skills[3]" class="form-control" id="userSkill4"></p>
              </div>
              <ul ng-hide="postCtrl.editingState3" ng-class="{highlight:postCtrl.currentUser.skills[0]}">
                <p class="highlight" ng-hide="postCtrl.currentUser.skills[0] || postCtrl.editingState3"><span>List the skills you have here.</span></p>
                <li class="left-margin15" ng-if="postCtrl.currentUser.skills[0]"><span >{{postCtrl.currentUser.skills[0]}}</span></li>
                <li class="left-margin15" ng-if="postCtrl.currentUser.skills[1]"><span >{{postCtrl.currentUser.skills[1]}}</span></li>
                <li class="left-margin15" ng-if="postCtrl.currentUser.skills[2]"><span >{{postCtrl.currentUser.skills[2]}}</span></li>
                <li class="left-margin15" ng-if="postCtrl.currentUser.skills[3]"><span>{{postCtrl.currentUser.skills[3]}}</span></li>
              </ul>
              <button ng-show="postCtrl.editingState3" type="submit" class="btn default-btn margin5-top">Save</button>
            </div>
            <div class="profile-equipment form-group">
              <h4 class="sub-title sub-inline">Equipment</h4>
              <i id="equipment-pencil" class="fa fa-pencil float-right hand" ng-click="postCtrl.editingState4=true"></i>
              <hr class="hr-sub">
              <div ng-show="postCtrl.editingState4">
                <p><input ng-model="postCtrl.currentUser.equipment[0]" class="form-control" id="userEquipment1"></p>
                <p><input ng-model="postCtrl.currentUser.equipment[1]" class="form-control" id="userEquipment2"></p>
                <p><input ng-model="postCtrl.currentUser.equipment[2]" class="form-control" id="userEquipment3"></p>
                <p><input ng-model="postCtrl.currentUser.equipment[3]" class="form-control" id="userEquipment4"></p>
              </div>
              <ul ng-hide="postCtrl.editingState4" ng-class="{highlight:postCtrl.currentUser.equipment[0]}">
                <p ng-hide="postCtrl.currentUser.equipment[0] || postCtrl.editingState" class="highlight">List any equipment you have here.</p>
                <li class="left-margin15" ng-if="postCtrl.currentUser.equipment[0]"><span>{{postCtrl.currentUser.equipment[0]}}</span></li>
                <li class="left-margin15" ng-if="postCtrl.currentUser.equipment[1]" ><span >{{postCtrl.currentUser.equipment[1]}}</span></li>
                <li class="left-margin15" ng-if="postCtrl.currentUser.equipment[2]"><span>{{postCtrl.currentUser.equipment[2]}}</span></li>
                <li class="left-margin15" ng-if="postCtrl.currentUser.equipment[3]"><span>{{postCtrl.currentUser.equipment[3]}}</span></li>
              </ul>
              <button ng-show="postCtrl.editingState4" type="submit" class="btn default-btn margin5-top">Save</button>
            </div>
            <div class="form-group">
              <h4 class="sub-title sub-inline">Resume</h4>
              <hr class="hr-sub">
              <div style="text-align: center; float: left;">
                <a ng-if="postCtrl.resume != '' " ng-click="postCtrl.openModal3()" href="#">
                  <img height="75px" width="75px" src="/img/whitepdf.png" alt="">
                </a>
                <p style="font-size: 10px" ng-if="postCtrl.resume != '' ">{{postCtrl.first_name}}'s Resume</p>
                <label class="btn btn-default btn-file margin10">Update Resume
                  <input type="file" id="file-input" onchange="angular.element(this).scope().resume_chosen(this)" accept=".pdf"  style="display: none;">
              </label>
            </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="production-quick-view col-sm-4">
    <div class="section">
      <div class="productions-pending">
        <h4 class="title">Pending Productions <img src="./img/question-mark.png" class="onboard-question-up onboard-question-mark" ng-mouseover="postCtrl.hoverPending = true" ng-mouseleave="postCtrl.hoverPending = false"/><div ng-if="postCtrl.hoverPending" class="onboard-box onboard-pending"><p>Offers for positions on upcoming productions will appear here</p></div></h4>
        <!-- <p>{{ postCtrl.currentUser.offersReceived }}</p> -->
        <div class="group">
          <div class="line-item" ng-repeat="offer in postCtrl.currentUser.offersReceived" ng-if="offer.offer.status == 'Pending' && postCtrl.compareDate(offer.production.date)">
            <p class="float-left no-margin strong">{{ offer.production.name + '  - ' }} {{ offer.production.date | date:'shortDate' }}</p>
            <p class="float-right no-margin"><a class="btn default-btn" ui-sref="offer({id: offer._id})">View</a></p>
            </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="productions-current">
        <h4 class="title">Current Productions <img src="./img/question-mark.png" class="onboard-question-mark onboard-question-up" ng-mouseover="postCtrl.hoverCurrent = true" ng-mouseleave="postCtrl.hoverCurrent = false"/><div ng-if="postCtrl.hoverCurrent" class="onboard-box onboard-current"><p>Positions you have accepted will appear here</p></div></h4>
        <div class="group">
          <!-- If they're a producer show their productions -->
          <div class="line-item" ng-repeat="production in postCtrl.currentUser.allProductions" ng-if="production.active && postCtrl.compareDate(production.date)">
            <p class="float-left no-margin strong">{{ production.name + ' - ' }} {{ production.date | date:'shortDate' }}</p>
            <p class="float-right no-margin"><a class="btn default-btn" ui-sref="production({id: production._id})">View</a></p>
          </div>
          <!-- If they're crew show their accepted productions -->
          <!-- <li ng-repeat="offer in postCtrl.currentUser.offersReceived" ng-show="offer.offer.status != 'Accepted'">{{ offer.offer.position }} <a ui-sref="offer({id: offer._id})">View</a></li> -->
        </div>
      </div>
    </div>
    <div class="section">
      <div class="productions-past">
        <h4 class="title">Past Productions <img src="./img/question-mark.png" class="onboard-question-mark onboard-question-up" ng-mouseover="postCtrl.hoverPast = true" ng-mouseleave="postCtrl.hoverPast = false"/><div ng-if="postCtrl.hoverPast" class="onboard-box onboard-past"><p>Positions you worked on in the past will appear here</p></div></h4>
        <div>
          <div class="line-item" ng-repeat=" production in postCtrl.currentUser.allProductions" ng-if="production.active && !postCtrl.compareDate(production.date)">
            <p class="float-left no-margin strong">{{ production.name + ' - ' }} {{ production.date | date:'shortDate' }}</p>
            <p class="float-right no-margin"><a class="btn default-btn" ui-sref="production({id: production._id})">View</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal-root" ng-if="postCtrl.modal.show">
  <div id="modal-container" ng-click="postCtrl.closeModal()">
    <div id="modal-sm" class="section">
      <div class="padding20 text-center">
        <h1><i ng-if="postCtrl.modal.isSuccess" class="fa fa-check-circle-o"></i></h1>
        <h1><i ng-if="postCtrl.modal.isFailure" class="fa fa-times-circle-o"></i></h1>
        <p>{{ postCtrl.modal.content }}</p>
        <p><a class="btn approval-btn">Close</a></p>
      </div>
    </div>
  </div>
</div>

<div id="modal-root" ng-init="init()" ng-if="postCtrl.modal.show2">
  <div id="modal-container">
    <div id="modal-md" class="section">
      <div class="padding20 text-center">
        <h1>Change Profile Picture</h1>
        <hr>
        <div class="profile-view-left col-sm-12">
          <div class="profile-picture round" ng-click="postCtrl.openModal2()">
            <img class="img-responsive round" id="profile-pic-preview" ng-src="{{postCtrl.profilePicture}}">
          </div>
          <br>
          <!-- <div class="cropArea">
            <img-crop id="crop-image" image="myImage" result-image="myCroppedImage" result-image-quality="1.0"></img-crop>
          </div> -->
        <br>
        <label class="btn btn-default btn-file margin10 width50">Select Image
          <input type="file" id="file-input" onchange="angular.element(this).scope().file_changed(this)" accept="image/*"  style="display: none;">
        </label>
        <br>
        <a class="btn error-btn margin10 width30" ng-click="postCtrl.closeModal2()">Cancel</a>
        <a class="btn approval-btn margin10 width30" ng-click="postCtrl.initUpload()">Save</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal-root" ng-if="postCtrl.modal.show3">
  <div id="modal-container" ng-click="postCtrl.closeModal3()">
    <div id="modal-lg" class="section">
      <div class="padding20 text-center">
          <iframe ng-init="postCtrl.setIframeSrc()" id="resumeElement" width="650px" height="700px"></iframe>
        <p><a class="btn approval-btn">Close</a></p>
      </div>
    </div>
  </div>
</div>
