<div class="container">
  <div class="col-md-4 col-centered">
    <h3 class="text-center bottom-padding">NEW FREE ACCOUNT</h3>
    <div ng-show="registerCtrl.error" class="alert alert-danger">{{registerCtrl.errorMessage}}</div>
    <form class="form" ng-submit="registerCtrl.register()">
      <div class="form-group">
        <input type="email" class="form-control out" name="email"
         ng-model="registerCtrl.registerForm.username" placeholder="Email" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control out"
         ng-model="registerCtrl.registerForm.first_name" placeholder="First Name" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control out"
         ng-model="registerCtrl.registerForm.last_name" placeholder="Last Name" required>
      </div>
      <div class="form-group">
          <input type="password" class="form-control out" name="password" ng-model="registerCtrl.registerForm.password" placeholder="Password" required>
        </div>
        <div>
          <button type="submit" class="btn approval-btn full-width" ng-disabled="registerCtrl.disabled">Register</button>
        </div>
    </form>
  </div>

</div>
