<form method="POST" ng-submit="resetPWCtrl.reset(resetPWCtrl.password)">
  <legend>Reset Password</legend>
  <div class="form-group">
    <label for="password">New Password</label>
    <input class="form-control" type="password" name="password" value="" placeholder="New password" autofocus="autofocus" ng-model="resetPWCtrl.password"/>
  </div>
  <!-- <div class="form-group">
    <label for="confirm">Confirm Password</label>
    <input class="form-control" type="password" name="confirm" value="" placeholder="Confirm password"/>
  </div> -->
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Update Password</button>
  </div>
</form>
