<div class="stripe-header">
  <h1 class="thin">Cool Move! The {{ stripeCtrl.plan }} Plan!</h1>
  <a ng-if="stripeCtrl.currentUser" ui-sref="production-list({upgradeModal: true})" class="thin stripe-diff-plan"><span class="stripe-diff-plan-span">Choose a different plan</span></a>
</div>

<form class="stripe-form">
  <div class="stripe-group">
    <label class="stripe-label">
      <span class="stripe-span">Name</span>
      <input name="cardholder-name" class="stripe-field" placeholder="Jane Doe" />
    </label>
    <label class="stripe-label">
      <span class="stripe-span">Phone</span>
      <input class="stripe-field" placeholder="(123) 456-7890" type="tel" />
    </label>
    <label class="stripe-label">
      <span class="stripe-span">Coupon</span>
      <input id="coupon" class="stripe-field" type="text" />
    </label>
  </div>
  <div class="stripe-group">
    <label class="stripe-label">
      <span class="stripe-span">Card</span>
      <div id="card-element" class="stripe-field"></div>
    </label>
  </div>

  <div class="stripe-header">
    <h4 class="thin">You will be charged {{stripeCtrl.planAmount}}/mo</h4>
  </div>

  <button class="stripe-button" type="submit">CHECKOUT</button>
  <div class="stripe-outcome">
    <div class="stripe-error"></div>
    <div class="stripe-success">
      Success!
    </div>
  </div>
</form>
