<div class="stripe-header">
  <h4>Cool Move! The {{ stripeCtrl.plan }} Plan!</h4>
  <a href="#" class="stripe-diff-plan" ng-click="stripeCtrl.chooseDifferentPlan()">Choose a different plan</a>
</div>

<form class="stripe-form">
  <div class="stripe-group">
    <label class="stripe-label">
      <span class="stripe-span">Name</span>
      <input name="cardholder-name" class="stripe-field" placeholder="Jane Doe" />
    </label>
    <label class="stripe-label">
      <span class="stripe-span">Phone</span>
      <input class="stripe-field" placeholder="(123) 456-7890" type="tel" />
    </label>
  </div>
  <div class="stripe-group">
    <label class="stripe-label">
      <span class="stripe-span">Card</span>
      <div id="card-element" class="stripe-field"></div>
    </label>
  </div>

  <div class="stripe-header">
    <p>You will be charged {{stripeCtrl.planAmount}}/mo</p>
  </div>

  <button class="stripe-button" type="submit">UPGRADE</button>
  <div class="stripe-outcome">
    <div class="stripe-error"></div>
    <div class="stripe-success">
      Success!
    </div>
  </div>
</form>
