<p>Hi <%= locals.email %>,</p>

<p>You are invited by <%= locals.producer %> to join myproducer.io and be part of his production team.</p>

<a href="<%= locals.registrationURL %>"><button>REGISTER</button></a>
