<p>Hello from myproducer.io!</p>

<p><%= locals.producer %> has invited you to join myproducer.io and be part of their production team.</p>

<a href="<%= locals.registrationURL %>"><button>REGISTER</button></a>
