<p>Hello from myproducer.io!</p>

<p>You are invited by <%= locals.producer %> to join myproducer.io and be part of their production team.</p>

<a href="<%= locals.registrationURL %>"><button>REGISTER</button></a>
